{% extends 'todo_app/base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'todo_app:add' uid=uid %}" class="form-container" method="POST">
        <br><h1>Add Task </h1> <br>
        {% csrf_token %}


        <div class="form-group">
            <label for="id_task_title">Task title:</label>
            <input type="text" class="form-control" name="task_title" required="" id="id_task_title">
        </div>


        <div class="form-group">
            <label for="id_task_desc">Task desc:</label>
            <input type="text" class="form-control" name="task_desc" required="" id="id_task_desc">
        </div>


        <div class="form-group">
            <label for="id_task_comm">Task comm:</label>
            <textarea class="form-control" name="task_comm" required="" id="id_task_comm"></textarea>
        </div>

        <div class="form-group">
            <label for="id_task_status">Task status:</label>
            <select class="form-control" name="task_status" id="id_task_status">
                {% for i in opt_list %}
                <option value="{{i.t_status}}">{{i.t_status}}</option>
                {{% endfor %}
            </select>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Add</button>

        <a href="{% url 'todo_app:home' uid=uid %}">
            <button type="button" class="btn btn-secondary">Back</button>
        </a>
    </form>
</div>
{% endblock %}