{% extends 'todo_app/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="container p-5 my-5 bg-dark text-white">
        <div class="lh-1">
            <h1 >Detail View Task  </h1>
        </div>
      </div>
    <div class="container p-5 my-5 align-items-center  rounded shadow-sm">
        <div class="lh-1">
            {% for i,j in data.items %}
             <h4>
             <label>{{i}} :</label> {{ j }}
            </h4>
            {% endfor %}
        </div>
      </div>
    <div class="container p-5 my-5 align-items-center  bg-dark-grey rounded shadow-sm">
        <div class="lh-1">
            <a href="{% url 'todo_app:edit' id=obj uid=uid %}">
                <button type="submit" class="btn btn-secondary">Edit </button>
            </a>

            <a href="{% url 'todo_app:del' id=obj uid=uid %}">
                <button type="submit" class="btn btn-warning"> Delete </button>
            </a>

            <a href="{% url 'todo_app:home' uid=uid %}">
                <button type="submit" class="btn btn-info"> Back </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}